/*
  Docs at http://http://simpleweatherjs.com
*/

body {
  color: #fff;
}

p {
  font-size: 16px;
  font-weight: 300;
}

@font-face {
    font-family: 'weather';
    src: url('/assets/css/font/artill_clean_icons-webfont.eot');
    src: url('/assets/css/font/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/css/font/artill_clean_icons-webfont.woff') format('woff'),
         url('/assets/css/font/artill_clean_icons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.weather {
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  border-radius: 5px;
  display: inline-block;
  font-weight: 300;
  padding: 20px;
}

.weather-icon i {
  font-size: 300px;
}

.weather .currently {
  margin: 0 20px;
}

li.forecast {
}

li.forecast i {
  display: block;
  font-size: 40px;
}

.forecast-temp-high {
  font-weight: bold;
}

.forecast-temp-low {
  color: rgba(255, 255, 255, 0.5);
}

.forecast-day {
  display: block;
  text-transform: capitalize;
}

.weather-box-one {
  background-color: #F2B441;
  height: 100vh;
  min-height: 580px;
}

.weather-box-two {
  background-color: #F26B5E;
  height: 100vh;
  min-height: 580px;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
